@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap');
*, *::before, *::after {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    
}
body {
    background: #dddddd;

}
.aktiviteterBg{
    list-style-type: none;
    background-color: #43425d;
    width: 415px;
    height: 100vh;
    position: absolute;
}

h2{
    padding: 20px;
    letter-spacing: 3px;
}

.aktiviteterGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr);
    grid-gap: 10px;

    // .aktivter{
    //     background-color: #323245;
    //     width: 200px;
    //     height: 94px;
    //     display: grid;
    //     grid-template-columns: 16px auto auto;
    //     grid-template-rows: repeat(4, 1fr);
    //     position: relative;
    // }
    // .aktivter::before{
    //     content: "";
    //     position: absolute;
    //     left: 0;
    //     height: 100%;
    //     width: 16px;
    //     background-color: olive;
    // }
    // .test1{
    //     background-color: #242439;
    //     grid-column: 2/4;
    //     border-radius: 1em;
    // }
    // .test2, .test3{
    //     grid-column: 2;
    // }
    // .test4{
    //     background-color: yellow;
    //     grid-row: 1/5;
    // }
}
.blue{
    fill: #3674B5; // - den blå farve
}
.green{
    fill: #78952b; //- den grønne farve
}
.purple{
    fill: #7D2772; //- den lilla farve
    
}
.red{
    fill: #A83331; //- den rød farve
}


.aktivitet {
    position: relative;
    width: 200px;
    height: 94px;
    overflow: visible;
    // svg elements farve    
}
.Bg {
    overflow: visible;
    position: absolute;
    width: 200px;
    height: 94px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.before {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 94px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.holdNavn {
    position: absolute;
    left: 95px;
    top: 49px;
    overflow: visible;
    width: 68px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
}
.tidBg {
    overflow: visible;
    position: absolute;
    width: 167px;
    height: 19px;
    left: 26px;
    top: 10px;
    transform: matrix(1,0,0,1,0,0);
}
.hold {
    position: absolute;
    left: 34px;
    top: 49px;
    overflow: visible;
    width: 25px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}
.emneNavn {
    position: absolute;
    left: 95px;
    top: 67px;
    overflow: visible;
    width: 85px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
}
.emne {
    position: absolute;
    left: 34px;
    top: 67px;
    overflow: visible;
    width: 30px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}
.tidStart {
    position: absolute;
    left: 95px;
    top: 11px;
    overflow: visible;
    width: 30px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
}
.lokaleNummer {
    position: absolute;
    left: 95px;
    top: 31px;
    overflow: visible;
    width: 28px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
}
.tid {
    position: absolute;
    left: 34px;
    top: 11px;
    overflow: visible;
    width: 18px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
}
.lokale {
    position: absolute;
    left: 34px;
    top: 31px;
    overflow: visible;
    width: 34px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;

}




// Styles til main-sektionen
main {
    margin-left: 415px;
    padding: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 858px 1fr;
    .row1, .row2 {
        display: grid;
        gap: 2rem;
    }
    .row1 {
        grid-template-rows: repeat(2, 1fr);
        .overetage, .underetage {
        height: 473px;
        background: #00000033;
        border-radius: 6px;
        
        }
    }
    .row2 {
        grid-template-rows: repeat(4, 1fr);
        .weatherdatetime {
            grid-row: 2;
            background: #00000033;
            border-radius: 6px;
        }
        .article1 {
            grid-row: 3;
            background: #00000033;
            border-radius: 6px;
        }
        .article2 {
            grid-row: 4;
            background: #00000033;
            border-radius: 6px;
        }
    }
}